/* colors
charcoal: #1f1f1f
Black: #000000
White: #fffbf0
yellow: #fff276
Green: #8A9E33
Dark Green: #004900
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  font-family: Cormorant Garamon, Ralway;
  font-size: 16px;
  line-height: 1.6;
  color: #fffbf0;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
    color: #fffbf0;
}

a:Hover {
    color: #fff276;
}

.space {
  padding: 20px;
}

.button.resume {
  background-color: #8A9E33;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.resume:hover {
  color: #fffbf0;
  background-color: #004900;
}

.button.Habitualize {
  background-color: #8A9E33;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button.Habitualize:hover {
  color: #fffbf0;
  background-color: #004900;
}

.button.Flowcabulary {
  background-color: #8A9E33;
  border: none;
  color: #000000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#comparison {
  display:flex;
}

.button.Flowcabulary:hover {
  color: #fffbf0;
  background-color: #004900;
}

#contact {
  text-align: center;
}

header {
  background-color: #8A9E33;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#Works h2 {
  text-align: center;
}

main {
  padding: 150px 0px;
}

body {
  position: relative;
  padding bottom: 100px;
  min height: 100%;
}

#hero h2 {
  padding-top: 50px;
}

#hero {
  text-align: center;
}

#Habitualize h2 {
  padding-top: 50px;
}

.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-lg-5 {
  padding-top: 100px;
}

.animation-box {
  padding-top: 40px;
}

.animation {
  padding: 40px;
  transition-property: background, transform;
  transition-duration: 2000ms;
}

.animation:hover {
  transform: rotate(360deg);
  background-color: #004900;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #1f1f1f;
}

nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: inherit;
    color: #1f1f1f;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #1f1f1f;
    color: #fffbf0;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #fffbf0;
    transition: 0.2s opacity;
}

nav > ul > li > a:active {
    padding: 0 15px;
    text-transform: uppercase;
    background-color: #fffbf0;
    color: #1f1f1f;
    font-weight: 700;
    padding-bottom: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #1f1f1f;
    transition: 0.2s opacity;
}

.navtoggle li:not(:last-child) {
    display: none;
    padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 30px;
    padding-right: 0.3em;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid #fffbf0;
}

@media only screen and (min-width: 641px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav > ul {
        margin: 1em 0;
    }

    nav > ul > li {
        display: inline-block;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .col-md-6 {
        width: 50%;
    }

    #about h3 {
        margin-top: 0;
    }
}


@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .col-md-7 {
        width: 60%;
    }

    .col-md-5 {
        width: 40%;
    }


@media only screen and (max-width: 450px) {
  .logo {
    width: 250px;
    height: auto;
  }
}
